@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  @apply font-mono
}


nav {
  @apply flex justify-between items-center px-4 lg:px-24 py-4 z-20
}

nav span {
  @apply text-primary font-semibold
}

nav .links a {
  @apply mx-8 font-medium hover:text-primary
}

.sign {
  @apply bg-primary p-2 rounded text-white border border-primary hover:bg-white hover:text-primary
}

#hero {
  background-image: url('/bg.jpg');
  @apply relative
}

#innerHero {
  background-color: rgba(0, 0, 0, 0.7);
  @apply w-full h-full flex justify-center absolute items-center flex-col pt-20 lg:px-36 px-4 md:gap-9 gap-5 text-center
}

.serviceList {
  @apply md:w-1/4 rounded p-4 sm:w-1/2 text-center bg-white text-primary hover:bg-primary hover:text-white hover:shadow-none shadow shadow-slate-400
}