@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  @apply font-mono
}


nav {
  @apply flex justify-between items-center px-24 py-4 z-20
}

nav span {
  @apply text-primary font-semibold
}

nav .links a {
  @apply mx-8 font-medium hover:text-primary
}

.sign {
  @apply bg-primary p-2 rounded text-white border border-primary hover:bg-white hover:text-primary
}

#hero {
  background-image: url('/bg.jpg');
  @apply relative
}

#innerHero {
  background-color: rgba(0, 0, 0, 0.7);
  @apply w-full h-full flex justify-center absolute items-center flex-col pt-12 px-36 gap-9 text-center
}

.serviceList {
  @apply w-1/4 rounded p-4 text-center bg-white text-primary hover:bg-primary hover:text-white hover:shadow-none shadow shadow-slate-400
}